// Stylesheet

body, div#app, ul, li, a {
	margin: 0px; padding: 0px;
	user-select: none;
	-webkit-user-drag: none;
	cursor: default;
}
ul { list-style: none; }

header ul {
	$separator: solid 1px #ccc;
	$radius: 4px;
	display: flex;
	margin: 0px; padding: 0px;
	box-sizing: border-box;
	border-bottom: solid 2px #ccc;
	font-size: 12px; font-weight: normal;
	white-space: nowrap;
	min-width: min-content;
	overflow: hidden;
	li a {
		display: block;
		padding: 0.6em; padding-left: 0.8em; padding-right: 0.8em;
		border-right: $separator;
		text-decoration: none;
		color: black;
		cursor: default;
		text-overflow: ellipsis;
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
		position: relative;
		transition: 0.125s ease-out;
	}
	li.active a {
		border-top: solid 2px blue; top: 0px; color: black;
	}
	li.inactive a {
		background-color: #eee; border-top: solid 2px #ccc; position: relative; top: 0.2em; color: #333;
	}
	li.inactive a:hover { border-top: solid 2px #aac; }
}
#content {
	transition: 0.5s;
}
#RenderPassEditor {
	font-size: 10pt;
	$generic_margin: 1.2em;
	position: fixed;
	overflow: auto;
	top: calc(1em + 0.6em * 2 + 1px);
	bottom: 0px;
	width: 100%;
	#NodeContainer {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: max-content;
		margin-left: auto; margin-right: auto;

		.AttachmentRow
		{
			display: flex;
			flex-flow: row nowrap;
			margin-bottom: $generic_margin; margin-top: $generic_margin;
			.Attachment {
				padding: $generic_margin;
				margin-right: $generic_margin;
				border: solid 1px black;
			}
			.Attachment:first-of-type { margin-left: $generic_margin; }
		}
		.ProcessRow {
			padding: $generic_margin / 2.0;
			margin-bottom: $generic_margin; margin-top: $generic_margin;
			border-radius: 8px;
			border: solid 1px black;

			li { line-height: 1.4em; }
		}
	}
	svg {
		position: absolute;
		top: 0px;
		width: 100%;
	}
}
